@charset "UTF-8";

*{
  box-sizing: border-box;
}

/* -------------------------------------------- */
/* 変数 */
/* -------------------------------------------- */
@function rem($px){
  @return ($px/16) *1rem;
}

$accentColor: #FFD54D;
$backgroundColor: #FFFEF8;
$mainColor: #3f4c88;
$mainColor: #262f57;
// $mainColor: #2e795c;
// $mainColor: #842f3f;
$subcolor: #CED7DB;

/* -------------------------------------------- */
/* リセット*/
/* -------------------------------------------- */
body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
  appearance: none;
	border-radius: 0;
}

.acceptance{
  appearance: auto;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}


/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */
// 全体
body {
  font-family: 'Noto Sans', sans-serif; //JPにするか否か…
  letter-spacing: 0.1em;
  line-height: 1.5;
  font-size: rem(14);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $backgroundColor;
  position: relative;
}

footer {
  margin-top: auto;
}

@media (min-width: 768px){
  body{
    font-size: rem(16);
  }
}

//inner
.inner{
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  position: relative;
}

@media (min-width: 768px){
  .inner{
    padding: 0 40px;
  }
}

/* -------------------------------------------- */
/* 見出し関連 */
/* -------------------------------------------- */
/* 見出しの共通部分 */
.heading-common{
  font-size: rem(40);
  line-height: 1; //微調整
  letter-spacing: 0.1em;
}

/* セクションの見出し */
.sec-heading{
  position: relative;
  padding: 30px 0;
  color: #fff;
  background: linear-gradient(to bottom, #3f4c88,$mainColor);

  &__works{
    background: linear-gradient(rgba(0, 0, 0, 0.5))  ,url(../images/mv.jpeg) center no-repeat;
    background-attachment: fixed;
    padding: 80px 0 80px;
    text-align: center;
  }

  &.--left{
    text-align: left;
  }
  &.--right{
    text-align: right;
  }
}

.sec-heading--ja{
  font-size: rem(16);
  letter-spacing: 0.3em;
  line-height: 1;
}

/* セクションの小見出し(h3) */
.sub-heading__wrapper{
  position: relative;
  text-align: center;
}

.sub-heading{
  font-size: min(max(22px, calc(1.375rem + ((1vw - 3.75px) * 2.1818))), 40px);
  text-align: center;

  &.--top{
    position: relative;
    text-align: center;
  }

  &-en{
    color: #ddd;
    letter-spacing: 0.15em;
    line-height: 1; 
    font-size: min(max(40px, calc(2.5rem + ((1vw - 3.75px) * 6.0606))), 90px);

  }

  &.--ja{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
  }
}

/* 下層ページのページタイトル */
.page-heading{
  padding: 110px 20px 60px;
  text-align: center;
  background-color: $mainColor;
  color: #fff;
}

@media (min-width: 768px){
  /* 見出しの共通部分 */
  .heading-common{
    font-size: rem(90);
  }

  /* セクションの見出し */
  .sec-heading{
    font-size: rem(90);
    padding: 40px 0;

    &::after{
      height: 210px;
    }

    &__works{
      padding: 200px 0 200px;
    }
  }

  .sec-heading--ja{
    font-size: rem(20);
  }

  /* セクションの小見出し(h3) */
  .sub-heading{

    &.--top{
      position: relative;
      text-align: center;
    }
  }

  /* 下層ページのページタイトル */
  .page-heading{
    padding: 200px 40px 140px;
  }
}

/* -------------------------------------------- */
/* パーツ類 */
/* -------------------------------------------- */
.padding-container{
  padding-top: 50px;
  padding-bottom: 100px;
}

/* ボタン */
.btn{
  display: block;
  padding: 1em 2em;
  line-height: 1;
  text-align: center;
  margin-left: auto; 
  margin-right: auto;
  background-color: transparent;
  margin-top: 30px;
  
  &--more{
    font-size: rem(14);
    border: 2px solid #000;
    width: 200px;
    border-radius: 4px;
    background-color: #fff;
    transition: background .6s, color .6s, border .6s;
    position: relative;

    &::after{
      content: "\f0da";
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      display: inline-block;
      line-height: 1;
      margin-left: 8px;
      font-size: rem(16);
    }

    &:hover{
      background-color: $mainColor;
      color: #fff;
      border: 2px solid $mainColor;
    }
  }

  &--pageChange{
    font-weight: bold;
    font-size: rem(16);
    padding: 20px;
    width: 200px;
    border: 2px solid #333333;
    position: relative;

    &:hover::after {
      top: 0;
      left: 0;
    }
  
    &::after{
      content:"";
      display: block;
      width: 100%;
      background-color: $accentColor;
      position: absolute;
      z-index: -1;
      height: 100%;
      top: 8px;
      left: 8px;
      transition: all .4s;
    }
  }
}

/* Topへ戻るボタン */
.top{
  display: block;
  width: 40px;
  height: 40px;
  background-color: $accentColor;
  cursor: pointer;
  border-radius: 4px;
  z-index: 5;
  right: 20px; 
  position:fixed;
  bottom: 2%;

  &::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 15px 12px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* サムネイル */
.thum{
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  overflow: hidden;

  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.item--responsive{
  width: 100%;
}

/*  パンクズ  */
.breadcrumbs{
  background-color: #CED7DC;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: rem(14);

  i{
    padding: 0 4px;
  }
}

@media (min-width: 768px){
  .padding-container{
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .btn{

    &--more{
      font-size: rem(16);
      width: 230px;
    }
  }

  /* Topへ戻るボタン */
  .top{
    right: 4%;
  }

  .item--responsive{
    width: 48%;
  }

  /*  パンクズ  */
  .breadcrumbs{
    height: 50px;
  }
}

@media (min-width: 992px){
  .item--responsive{
    width: 31%;
  }
}

/* -------------------------------------------- */
/* 補助クラス */
/* -------------------------------------------- */
.en-text{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.mt-70{
  margin-top: 70px;
}

.bg-color{
  background: $backgroundColor;
}

.bg-gradient{
  background: linear-gradient(to bottom, #C2E9FB, #A1C4FD);
}

.first-letter--change{
  color: $accentColor;
}

.over--inner{
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

@media (min-width: 768px){
  .mt-70{
    margin-top: 100px;
  }

  .mla{
    margin-left: initial;
  }
}

/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header{
  height: 70px;
  width: 100%;
  color: #fff;
  background-color: rgba($mainColor, 0.8);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  
  &.fadein{
    background-color: rgba(38, 47, 87 , 0.5);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: fadein .4s ease;
    height: 50px;
    z-index: 10;
  }

  &__wrapper{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@keyframes fadein{
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0);
  }
}

.logo{
  // font-size: rem(18);
  font-size: calc(1.125rem + ((1vw - 3.75px) * 1.2121));
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;

  &.fontChang{
    font-size: rem(14);
  }

  &__link{
    display: inline-block;
  }
}

/* ヘッダーナビ */
.gnav{
  font-size: rem(16);
  font-weight: bold;
  text-transform: uppercase;

  &.active{
    left: 0;
  }
}

/* スマホ用ナビ */
.gnav--sp{
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  width: 80%;
  height: 100vh;
  position: fixed;  
  top: 0;
  left: -150%;
  // left: 0%;
  z-index: 10;
  transition: all .5s;
  overflow-y: scroll;

  &__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item:not(:first-child){
    margin-top: 40px;
  }
}

/* PC用ナビ */
.gnav--pc{
  display: none;

  &__list{
    display: flex;

    .current a::after,
    a:hover::after {
      transform: scale(1, 1);
    }
  }

  &__item{

    &.current a,
    & a:hover{
      color: $accentColor;
    }

    &:not(:first-child){
      margin-left: 30px;
    }
  }

  &__link{
    transition: color .4s;
    display: block;
    padding:8px 0px;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 5%;
      width: 90%;
      height: 2px;
      background: $accentColor;
      transition: transform .3s;
      transform: scale(0, 1);
      transform-origin: center top;
    }

    &:hover{
      color: $accentColor;
    }
  }
}

.burger{
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.bar{
  width: 100%;
  height: 3px;
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,0);
  transition: transform .4s, opacity .4s;
}

.bar:nth-of-type(1){
  transform:translate(-50%,10px);
}

.bar:nth-of-type(3){
  transform:translate(-50%,-10px);
}

.burger.active .bar:nth-of-type(2){
  opacity: 0;
}

.burger.active .bar:nth-of-type(1){
  transform: translateX(-50%) rotate(-45deg);
}

.burger.active .bar:nth-of-type(3){
  transform: translateX(-50%) rotate(45deg);
}

body.active{
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .header{
    height: 100px;
  }

  .burger{
    display: none;
  }

  .gnav--pc{
    display: block;
  }
}

@media (min-width: 1200px) {
  .logo{
    font-size: rem(28);
  }
}

/* -------------------------------------------- */
/* mv */
/* --------------------------------------------- */
.mv{
  height: 100vh;
  position: relative;
  width: 100%;
  // background: url(../images/blog-image.png);

  //あしらい
  &::before,
  &::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: $mainColor;
    z-index: 1;
  }

  //左のあしらい
  &::before{
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 50% 0);
  }

  //右のあしらい
  &::after{
    right: 0;
    clip-path: polygon(50% 100%, 100% 100%, 100% 0);
  }

  //黄色のバー
  &__bar{

    background-color: #E6B422;
    position: absolute;
    z-index: 3;
    
    //横
    &.--cross{
      left: 0;
      bottom: 15%;
      height: 14px;
      width: 100%;

      &::after{
        content: "";
        width: 100%;
        height: 6px;
        background-color: #fff;
        position: absolute;
        bottom: -20px;
      }
    }

    //縦
    &.--vertical{
      width: 14px;
      height: 100%;
      top: 0;
      right: 45px;

      &::after{
        content: "";
        width: 6px;
        height: 100%;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        right: -20px
      }
    }
  } 
}

//スクリーン
.film{
  background: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.mvSwiper{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.mvSwiper {
  width: 100%;
  height: 100%;

  .swiper-wrapper {

    .swiper-slide {
      overflow: hidden;
    }
    .swiper-slide-prev,
    .swiper-slide-active,
    .swiper-slide-duplicate-active {
      img{
        animation: zoom 10s linear 0s 1 normal both;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.site-title{
  color: #fff;
  letter-spacing: 0.15em;
  font-size: 33px;
  font-size: min(max(33px, calc(2.0625rem + ((1vw - 3.75px) * 5.1934))), 80px);
  padding: 200px 0px;
  padding: 300px 0px 200px;
  position: relative;
  z-index: 2;
}

/* スクロール */
.scrolldown{
  position:absolute;
  bottom: 1%;
  right: 30%;
  z-index: 3;

  &::before,
  &::after{
    content:"";
    position: absolute;
  }

  /* スクロールバーの棒 */
  &::after{
    bottom:0;
    left:10%;
    width:2px;
    height: 50px;
    background:#eee;
  }

  /* スクロールバーの光 */
  &::before {
    bottom:0;
    left:-4px;
    width:10px;
    height:16px;
    border-radius: 50%;
    background: $accentColor;
    animation:
    circlemove 1.8s ease-in-out infinite,
    cirlemovehide 1.8s ease-out infinite;
  }
}

/* スクロールバーの文字 */
.scrolldown span{
  position: absolute;
  left:10px;
  bottom:10px;
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

@keyframes circlemove{
  0%{bottom: 50px;}
  100%{bottom:-5px;}
}

@keyframes cirlemovehide{
  0%{opacity:0}
  50%{opacity:1;}
  80%{opacity:0.9;}
  100%{opacity:0;}
}

@media (min-width: 768px){
  .mv{
    
    //黄色のバー
    &__bar{
      
      //横
      &.--cross{
        height: 24px;
  
        &::after{
          height: 10px;
          bottom: -40px;
        }
      }
  
      //縦
      &.--vertical{
        width: 24px;
        right: 20%;
  
        &::after{
          width: 10px;
          right: -40px
        }
      }
    } 
  }

  /* スクロール */
  .scrolldown{
    right: 100px;
  }
}

/* -------------------------------------------- */
/* topページのworks */
/* -------------------------------------------- */
.works-top{
  padding-bottom: 80px;

  &__wrapper{
    padding: 70px 0;
  }
  
  &__explain{
    padding-top: 20px;
    text-align: center;
  }

  &__item-wrapper{
    margin-top: 30px;
    position: relative;
    display: flex;
    // width: 100%;
  }
  
  &__item-list{
    padding: 10px 0;
    height: 100%;
  }
  
  &__item{
    text-align: left;
    padding-bottom: 30px;
    background-color: #fff;
    box-shadow: 4px 4px  6px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    border: 1px solid #dedede;
    // position: relative;

  }

  &__item-img{
    border-radius: 6px;
  }

  &__item-title{
    font-size: rem(18);
    padding: 20px 20px 0;
    text-align: center;
  }

  &__item-content{
    padding: 20px 20px 0 20px;
    line-height: 1.6;
    font-size: 14px;
    letter-spacing: 0.15em;
    min-height: 70px;
  }
}

.slideBtn{
  width: 25px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  z-index: 1;

  &--left{ 
    // left: -12px;
    border-radius: 8px 0 0 8px;

    &::after{
      content: "";
      display: inline-block;
      border-top: 2px solid #000;
      border-left: 2px solid #000;
      transform: rotate(-45deg);
      width: 6px;
      height: 6px;
      margin-left: 6px;
    }
  }

  &--right{
    // right: -12px;
    border-radius: 0 8px 8px 0;

    &::after{
      content: "";
      display: inline-block;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      transform: rotate(45deg);
      width: 6px;
      height: 6px;
      margin-right: 6px;
    }
  }

}

.practice{
  
  &__list{
    position: relative;
    text-align: center;
    width: 100%;

    &.--banners{

    }
    &.--blog{
      margin-top: 70px;
    }
  }

  &__title{
    font-size: rem(20);
    font-weight: bold;
  }

  &__explain{
    margin-top: 10px;
    min-height: 48px;
    .fa-solid{
      margin-left: 8px;
    }
  }

  &__image{
    margin-top: 20px;
  }
}

//スライド関連
.swiper-area{
  position: relative;
  // max-width: 1280px;
  width: 100%;
}

.mainswiper{
  max-width: 100%;
  overflow: hidden;
}

.worksSwiper{
  max-width: 100%;
  .swiper-slide{
    opacity: 0.6;

    &.swiper-slide-active {
      opacity: 1;
    } 
  }
}

.swiper-slide .banners__item-image{
  object-fit: contain;
}

//スライドのボタン
.my-swiper-button-prev,
.my-swiper-button-next{
  width: 30px;
  height: 70px;
  background-color: rgba($mainColor, 0.5);
  position: absolute;
  top: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 1;

  &::after{
    content:"";
    height: 10px;
    width: 10px;
    display: inline-block;
    border-top: 2px solid #fff;
  }
}

//次へ
.my-swiper-button-prev{
  border-radius: 60% 0% 0% 60%;
  left: 0;
  
  &::after{
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
    margin-left: 4px;
  }
  
  //topのworksのみ
  &.--only-topWorks{
    left: 10px;
  }
}

//前へ
.my-swiper-button-next{
  border-radius: 0% 60% 60% 0%;
  right: 0;

  &::after{
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    margin-left: -4px;
  }

  //topのworksのみ
  &.--only-topWorks{
    right: 10px;
  }
}

@media (min-width: 768px){
  .works-top{
    padding-bottom: 150px;

    &__wrapper{
      padding: 100px 0;
    }

    &__item-wrapper{
      width: 100%;
      margin-top: 50px;
      justify-content: space-between;
    }
  
    &__item-title{
      font-size: rem(20);
    }
  }

  //スライドのボタン
  .my-swiper-button-prev,
  .my-swiper-button-next{
    width: 40px;

    &::after{
      content:"";
      height: 10px;
      width: 10px;
      display: inline-block;
      border-top: 2px solid #fff;
    }
  }

  //次へ
  .my-swiper-button-prev{

    //topのworksのみ
    &.--only-topWorks{
      left: 20px;
      height: 100px;
    }
  }

  //前へ
  .my-swiper-button-next{

    //topのworksのみ
    &.--only-topWorks{
      right: 20px;
      height: 100px;
    }
  }

  .practice{
    &__list-wrapper{
      display: flex;
      justify-content: space-between;
    }
    
    &__list{
      width: 49%;
      &.--blog{
        margin-top: 0px;
      }
    }
  
    &__title{
      font-size: rem(28);
    }
  
    &__explain{
      margin-top: 10px;
    }
  }
}

/* -------------------------------------------- */
/* about */
/* -------------------------------------------- */
.about{
  &__wrapper{
    width: 100%;
  }
}

.about-image{
  &__wrapper{
    background-color: #000;
    padding: 30px 0 20px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    z-index: 2;
  }

  &__image{
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
  }

  &__content-frame{
    width: 100%;
    padding: 10px 6.25vw;
  }

  &__text{
    font-size: rem(16);
    padding: 1em 0.8em;
    min-height: 90px;
    border: 4px solid #fff;
    border-radius: 6px;
    position: relative;
    color: #fff;
    font-family: 'DotGothic16', sans-serif;
  }
}

/* タイピング */
.TextTyping  {
	letter-spacing: 0.2em;
  word-break : break-all;
}

.TextTyping span {
	display: inline-block;
  color: #fff;
}


.TextTyping::after {
  content: "|";
	animation: typinganime .8s ease infinite;
  color: #fff;
}

@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
}


.about-body{

  &__wrapper{
    padding: 60px 20px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    z-index: 1;
  }

  &__title{
    font-size: rem(20);
    font-weight: bold;
  }

  &__content-list{
    margin-top: 10px;
  }

  &__content{
    margin-top: 20px;
  }
}

@media (min-width: 768px){
  .about{

    &__wrapper{
      display: flex;
      position: relative;
    }
  }

  .about-image{

    &__wrapper{
      width: 50%;
      padding: 30px 0 30px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      margin-left: auto;
      margin-right: auto;
    }
  
    &__image{
      width: 120px;
      height: 120px;
    }
  
    &__text{
      font-size: rem(20);
      padding: 1em 0.8em;
      min-height: 110px;
    }
  }

  .about-body{

    &__wrapper{
      width: 53%;
      padding: 80px 60px 80px 80px;
      margin-left: initial;
      margin-right: initial;
      background-color: #F7F7F7;
    }
  
    &__title{
      font-size: rem(24);
    }
  
    &__content-list{
      margin-top: 30px;
    }
  }
}

/* -------------------------------------------- */
/* contact */
/* -------------------------------------------- */
.contact-top{

}

@media (min-width: 768px){
  .contact-top{
    text-align: center;
  }
}

/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer{
  height: 70px;
  background-color: $mainColor;
  font-size: rem(12);

  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__copy{
    color: #fff;
  }
}

@media (min-width: 768px){

}

/* -------------------------------------------- */
/* works(アーカイブ) */
/* -------------------------------------------- */
.works{

  &__wrapper{
    
  }

  &__item-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;

    &::after{
      content: "";
      display: block;
      width: 31%;
    }
  }

  &__item{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    
    &:not(:first-child){
      margin-top: 40px;
    }
  }
  
  &__item-title{
    margin-top: 20px;
  }
  
  &__item--link{
    border: 1px solid #dfdfdf;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  
  &--thum{
    aspect-ratio: 4 / 3;
    img{
      transition: transform .4s;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 768px){
  .works{
    &__text{
      text-align: center;
    }
    &__item-list{
      margin-top: 50px;
    }
  }
}
/* -------------------------------------------- */
/* 404page */
/* -------------------------------------------- */
.nf-page{

  &__wrapper{

  }

  &__text{
    font-size: rem(48);
    font-size: rem(20);
    font-weight: bold;
  }

  &__to-link{
    margin-top: 40px;
  }

  &__link{
    color: #1B0DAB;;
    transition: opacity .4s;
    text-decoration: underline;

    &:hover{
      opacity: .7;
    }
  }
}

@media (min-width: 768px){
  .nf-page{
    
    &__text{
      font-size: rem(48);
    }
  }
}

/* -------------------------------------------- */
/* contact */
/* -------------------------------------------- */
.contact{
  &__wrapper{
    max-width: 600px;
  }
}

.form-parts{
  // border: 1px solid #000;
  margin-top: 40px;

  &__label{
    display: flex;
    align-items: center;
  }

  &__body{
    width: 100%;
    font-size: rem(14);
    padding: 1em 20px;
    display: inline-block;
    border-radius: 6px;
    // outline: solid 1px red;
    border: 1px solid #707070;
    margin-top: 10px;

    &:focus{
      background-color: #efefef;
    }
  }
}

.label-body{
  color: #fff;
  border-radius: 6px;
  font-size: rem(12);
  padding: 0.5em 1em;
  display: inline-block;
  margin-right: 10px;
}

.must{
  background-color: #F58694;
}

.free{
  background-color: #7FBFFF;
}

.label-title{

}

.textarea{
  width: 100%;
  height: 200px;
}

//承諾確認
.acceptance{
  margin-top: 40px;
  appearance: auto;
}

.form-btn{
  width: 200px;
  font-size: rem(16);
  border-radius: 6px;
  cursor: pointer;
  transition: opacity .4s;
  border: 1px solid #707070;;
  &:hover{
    opacity: .6;
  }
}

/* contact form7用 */ 
/* エラーメッセージを見やすくする */
span.wpcf7-not-valid-tip {
  padding-top: 0.5em;

  &::before{
    content: "※";
  }
}

.wpcf7 form .wpcf7-response-output{
  color: #DD3232;
  font-weight: bold;
  margin: 0;
  border: none;
}

.wpcf7-spinner{
  display: none;
}

@media (min-width: 768px){
  form{
    margin-top: 50px;
  }
}

/* -------------------------------------------- */
/* single */
/* -------------------------------------------- */
.single{

  &__wrapper{
    padding: 40px 0;
  }

  &-top{
    padding-bottom: 40px;

    &__thum{
      border: 2px solid #ddd;
    }

    &__explain{
      max-width: 800px;
      margin: 30px auto 0;
    }

    &__attention{
      max-width: 600px;
      margin: 40px auto 0;
    }
  }
}

//サイトの詳細
.single-detail{
  background-color: #FAFAFB;
}

.single__site-image-wrapper{
  margin-top: 60px;

  // pcでのイメージ
  .pc-image-wrapper{
    margin-bottom: 30px;
    .pc-image{
      width: 100%;
      display: none;
    }
  }

  /* spでのイメージ */
  .sp-image-wrapper{
    .sp-image{
      display: none;
      width: 100%;
    }
  }

  // トグルボタン 
  .toggle-btn{
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border: 2px solid #000;
    padding: 8px;
    display: inline-block;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 8px;

    i{
      margin-right: 4px;
    }
  }
}

//制作のpoint
.single-point{

  &__page-title{
    padding: 20px 0;
    font-weight: bold;
    font-size: rem(20);
  }

  &__flex{
    display: flex;
    flex-direction: column;
  }

  &__image{
    width: 100%;
  }

  &__list{
    background-color: #FAFAFA;
    width: 100%;
    margin-top: 30px;
  }

  &__item{
    padding: 20px 16px;
  }

  &__heading{
    border-bottom: 1px solid $accentColor;
    display: inline-block;
    font-size: rem(18);
    font-weight: bold;
  }

  &__content{
    margin-top: 20px;
    letter-spacing: 0.15em;
  }
}

//pointのスライド
.pointSwiper{
  // border: 1px solid #000;
  margin-top: 40px;
  padding-bottom: 100px;
  
  // ポイントのボタン
  &__btn{
    z-index: 100;
    position: absolute;
    text-align: center;
    display: block;
    padding: 0 20px;
    color: #333;
    text-decoration: none;
    outline: none;
    top: auto;
    bottom: 2%;
    width: 30%;
    user-select: none;

    &.--left{
      &::before,
      &::after{
        content: '';
        position: absolute;
        height: 1px;
        transition: all .3s;
        background:#333;
      }

      &::before{
        bottom: -5px;
        width: 85%;
        left: 5%;
      }

      &::after{
        bottom: 0px;
        transform: rotate(145deg);
        width: 15px;
        left: 5%;
      }

      //hover
      &:hover::before{
        left: 0%;
      }
      &:hover::after{
        left: 0%;
      }
    }
    
    &.--right{

      &::before,
      &::after{
        content: '';
        position: absolute;
        height: 1px;
        background:#333;
        transition: left .3s, right .3s; 
      }

      &::before{
        bottom: -5px;
        left:10%;
        width: 85%;
      }

      &::after{
        bottom: 0px;
        right: 5%;
        width: 15px;
        transform: rotate(35deg);
      }

      //hover
      &:hover::before{
        left: 15%;
      }
      &:hover::after{
        right: 0%;
      }
    }
  }
}

// 注釈 
.click-open{
  font-size: rem(12);
  margin-bottom: 16px;
  color:#808080;
}

.single-content{
  margin: 40px auto 0;
  max-width: 900px;
  width: 100%;

  &__list{
    margin-top: 20px;
  }

  &__title{
    font-size: rem(16);
    font-weight: bold;
  }

  &__text-wrapper{
    
  }

  &__text{
    letter-spacing: 0.15em;

    &.--list::before{
      content: "・";
    }
  }
}


//追随するページネーション
.fixed-pagination-btn{
  width: 40px;
	height: 100px;
  position: fixed;
  top: 50%;
  z-index: 1;

  &.left{
    left: 0;
  }

  &.right{
    right: 0;
  }
}

.fixed-pagination-btn a{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($mainColor, 0.5);
  top: 50%;
  width: 100%;
  height: 100%;
}

.fixed-pagination-btn.left a{
  border-radius: 0% 60% 60% 0%;
}
.fixed-pagination-btn.right a{
  border-radius: 60% 0% 0% 60%;
}

//ページネーション
.pagination{
  display: flex;
  justify-content: space-between;
  min-width: 270px;
  width: 60%;
  margin: 40px auto 0;

  i{
    padding: 0 4px;
  }
}

.to-works,
.prev,
.next{
  a{
    display: block;
    transition: background .4s;
    padding: 0 0.5em;
    border-radius: 4px;

    &:hover{
      background: $accentColor;
    }
  }
}

@media (min-width: 768px){
  .single{
    &__heading{
  
      &-en{
        font-size: rem(108);
      }
    }

    &__wrapper{
      padding: 80px 0;
    }

    &-top{
      padding-bottom: 80px;
    }
  }

  .single-content{
    margin-top: 60px;
  
    &__list{
      display: flex;
    }
    
    &__title{
      font-size: rem(20);
      min-width: 280px;
    }
    
    &__text-wrapper{
      padding-top: 2px;
      flex: 1;
    }
  }

  .single__site-image-wrapper{
    
    // pcでのイメージ 
    .sp-image-wrapper{
      width: 50%;
    }

    // トグルボタン 
    .toggle-btn{
      transition: background-color .4s, color .4s;
    
      &:hover{
        background: #000;
        color: #fff;
      }
    }
  }

  //制作のpoint
  .single-point{
    
    &__flex{
      flex-direction: row;
      justify-content: space-between;
      min-height: 400px;
    }

    &__image{
      width: 48%;
    }
  
    &__list{
      margin-top: 0;
      width: 50%;
    }

    &__heading{
      font-size: rem(20)
    }
  }
  
  //pointのスライド
  .pointSwiper{
    margin-top: 60px;
    padding-bottom: 100px;
    
    // ポイントのボタン
    &__btn{

      &.--left{

        &::before{
          bottom:15px;
        }

        &::after{
          bottom:20px;
        }
      }
      
      &.--right{

        &::before{
          bottom:15px;
        }

        &::after{
          bottom: 20px;
        }
      }
    }
  }

  // 注釈 
  .click-open{
    font-size: rem(14);
    margin-bottom: 24px;
  }

  //ページネーション
  .pagination{
    margin: 80px auto 0;
  }
}

@media (min-width: 992px){
  .single{
    &__site-image-wrapper{
      display: flex;
      justify-content: space-between;
      margin-top: 80px;

      /* pcでのイメージ */
      .pc-image-wrapper{
        margin-bottom: 0px;
        width: 70%;
      }
    
      /* spでのイメージ */
      .sp-image-wrapper{
        margin-bottom: 0px;
        width: 28%;
      }
    }
  }
}

/* -------------------------------------------- */
/* profile */
/* -------------------------------------------- */
.prof-sec{
  padding: 50px 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.prof-sec-first{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  padding-bottom: 150px;
  margin-bottom: -140px;
}

.prof-heading{
  color: #E6E5EF;
  position: absolute;
  // font-size: rem(40);
  font-size: calc(2.5rem + ((1vw - 3.75px) * 9.697));
  bottom: 0%;
  z-index: -1;
}

.posi-left{
  left: 0;
}

.posi-right{
  right: 0;
}

.profile{
  &-wrapper{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    
    &-wcid{
      position: relative;

    }
  }

}

/* about me */
.about-me{

}

.about-body__content-list{
  max-width: 600px;
  width: 100%;
}

.about-body-list li{
  &::before{
    content: "・";
  }
}

/* 経歴 */
.career{

  &__lists{
    width: 100%;
    max-width: 600px;
    margin-left: auto;
  }

  &__list{
    position: relative;
    padding: 0 0 0 1.8em;

    &::before{
      content: " ";
      width: 2px;
      background: #333;
      display: block;
      position: absolute;
      top: 25px;
      left: 0.7em;
      bottom: 2px;
    }

    &:last-child::before{
      height: 60%;
    }
  }

  &__timeline{
    display: block;
    color: #808080;

    &::before{
      content: "";
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      background: $accentColor;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__content{
    padding: 1.3em 0;
  }
}

/* スキル */
.skills{
  &-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &-list{
    width: 100%;
    margin-top: 30px;
  
    &__name{
      font-weight: bold;
      display: flex;
      align-items: flex-end;
    }
  
    &__image{
      background: url(../images/wordpress_icon_130782.png) center/cover;
      width: 40px;
      height: 40px;
      display: inline-block;
      margin-right: 8px;
    }
  
    &__explain{
      margin-top: 10px;
    }
  }
}

/* できること */
.wicd{
  &__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__lists{
    width: 100%;
  }

  &-item{

    &__image-wrapper{
      aspect-ratio: 4 / 3;
      // border: 1px solid #000;
    }
  
    &__title{
      font-weight: bold;
      font-size: rem(20);
    }

    &__text{
      margin-top: 10px;
    }
  }

}


@media (min-width: 768px){

  .prof-sec{
    padding: 100px 0 150px;
  }
  
  .prof-sec-first{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    padding-bottom: 340px;
    margin-bottom: -300px;
  
  }

  .profile{
    &-wrapper{

    }
  }
  .prof-heading{
    // font-size: rem(120);
    
  }

  .skills{

    &-wrapper{
      justify-content: space-between;
      flex-direction: row;
    }

    &-list{
      width: 48%;
      margin-top: 40px;
    
      &__image{
        width: 50px;
        height: 50px;
      }
    }
  }

  /* できること */
  .wicd{
    &-title{
      font-size: rem(70);
    }
  
    &__lists{
      width: 47%;
    }

    &-item{
    
      &__title{
        font-weight: bold;
        font-size: rem(24);
      }
    }
  }

}
@media (min-width: 992px){
 /* できること */
  .wicd{
    &-title{
      font-size: rem(90);
    }


    &__lists{
      width: 22%;
    }
  }
}

@media (min-width: 1200px){
  .prof-heading{
    font-size: rem(120);
    
  }
  .posi-left{
    left: -10%;
  }
  
  .posi-right{
    right: -10%;
  }


}


/* -------------------------------------------- */
/* banners */
/* -------------------------------------------- */
.banners{

  &__list{

  }
  
  &__image-wrapper{
    aspect-ratio: 6 / 5;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: opacity .4s;
    margin-bottom: 16px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    &:hover{
      opacity: .8;
    }
  }

  &__item-image{
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

}

/*モーダル*/
.modal-wrapper{
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}


/* 閉じるボタン */
.close{
  background-color: #ddd;
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 1;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.close::before,
.close::after{
  position: absolute;
  content: "";
  border-top: 3px solid #333;
  width: 20px;
  top: 50%;
  left: 50%;
}

.close::before{
  transform: translate(-50%, -50%) rotate(
45deg);
}

.close::after{
  transform: translate(-50%, -50%) rotate(
-45deg);
}

.modal-image-wrapper{
  width: 70%;
}

/*モーダルの中の画像*/
.modal-image-wrapper img{
  max-width: 70%;
  max-height: 70%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px){
  
}
/* -------------------------------------------- */
/* contact */
/* -------------------------------------------- */

@media (min-width: 768px){

}



/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px){

}
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1025px) {


  
}