@charset "UTF-8";

*{
  box-sizing: border-box;
}

/* -------------------------------------------- */
/* 変数 */
/* -------------------------------------------- */
@function rem($px){
  @return ($px/16) *1rem;
}

$accentColor: #FFD54D;

/* -------------------------------------------- */
/* リセット*/
/* -------------------------------------------- */
body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
  appearance: none;
  -webkit-appearance: none;
	border-radius: 0;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}


/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */
// 全体
body {
  font-family: 'Noto Sans', sans-serif; //JPにするか否か…
  letter-spacing: 0.1em;
  line-height: 1.5;
  font-size: rem(14);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}


@media (min-width: 768px){
  body{
    font-size: rem(16);
  }
}

//inner
.inner{
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  position: relative;
  // background-color: rgba(0, 0, 0, 0.16);
}

@media (min-width: 768px){
  .inner{
    padding: 0 40px;
  }
}

// セクション関連
section{
  padding-bottom: 100px;
}

.sec-heading{
  position: relative;
  padding-top: 60px;
  margin-bottom: 50px;

  &__bg{
    background: linear-gradient(to bottom, #C2E9FB, #A1C4FD);
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
    height: 100px;
  }

  &--left{
    text-align: left;
  }

  &--right{
    text-align: right;
  }
}

.sec-heading--ja{
  font-size: rem(16);
  letter-spacing: 0.3em;
  line-height: 1;
}

.sec-sub-heading-wrapper{
  text-align: center;
}

.sec-sub-heading{
  font-size: rem(24);
  position: relative;
  border-bottom: 3px solid #333;
  display: inline-block;

  &::after{
    content: " ";
    position: absolute;
    display: block;
    border-bottom: solid 3px #ffd54d;
    bottom: -3px;
    width: 30%;
  }
}


@media (min-width: 768px){
  section{
    padding-bottom: 150px;
  }

  .sec-heading{
    font-size: rem(90);
    padding-top: 130px;
    margin-bottom: 100px;

    &__bg{
      height: 210px;
    }
  }

  .sec-heading--ja{
    font-size: rem(20);
  }

  .sec-sub-heading{
    font-size: rem(32);
    position: relative;
    border-bottom: 3px solid #333;
    display: inline-block;
  
    &::after{
      content: " ";
      position: absolute;
      display: block;
      border-bottom: solid 3px #ffd54d;
      bottom: -3px;
      width: 30%;
    }
  }
}

/* -------------------------------------------- */
/* パーツ類 */
/* -------------------------------------------- */
.heading-common{
  text-transform: uppercase;
  font-size: rem(40);
  line-height: 1; //微調整
  letter-spacing: 0.1em;
}

/* ページタイトル */
.page-heading{
  padding: 120px 20px 50px;
  text-align: center;
}

.en-title{
  font-family: 'Montserrat', sans-serif;
}

.btn{
  display: block;
  padding: 1em 2em;
  line-height: 1;
  text-align: center;
  margin-left: auto; 
  margin-right: auto;
  background-color: transparent;
  margin-top: 60px;
  
  &--more{
    font-size: rem(14);
    border: 1px solid #000;
    width: 200px;
    border-radius: 4px;
    background-color: #fff;

    &::after{
      content: "";
      display: inline-block;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      transform: rotate(45deg);
      width: 6px;
      height: 6px;
      margin-left: 8px;
    }
  }

  &--pageChange{
    font-weight: bold;
    font-size: rem(16);
    padding: 20px;
    width: 200px;
    border: 2px solid #333333;
    position: relative;

    &::after{
      content:"";
      display: block;
      width: 100%;
      background-color: $accentColor;
      position: absolute;
      z-index: -1;
      height: 100%;
      top: 8px;
      left: 8px;
      // transition: .4s;
    }
  }
}

.thum{
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  overflow: hidden;

  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.mt-70{
  margin-top: 70px;
}

/*  パンクズ  */
.breadcrumbs{
  background-color: #CED7DC;
  height: 40px;
  display: flex;
  align-items: center;
}

.breadcrumbs-mb{
  margin-bottom: 50px;
}

@media (min-width: 768px){
  .heading-common{
    font-size: rem(90);
  }

  /* ページタイトル */
  .page-heading{
    padding: 200px 40px 100px;
  }

  .btn{

    &--more{
      font-size: rem(16);
      width: 230px;
    }
  }

  .mt-70{
    margin-top: 100px;
  }

  .mla{
    margin-left: initial;
  }

  /*  パンクズ  */
  .breadcrumbs{
    height: 50px;
  }

  .breadcrumbs-mb{
    margin-bottom: 100px;
  }
}

/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header{
  height: 70px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 4px 6px #ddd;

  &.fadein{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: fadein .4s ease;
    height: 50px;
    z-index: 100000;
  }

  &__wrapper{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@keyframes fadein{
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0);
  }
}

.logo{
  font-size: rem(18);
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;

  &.fontChang{
    font-size: rem(14);
  }

  &__link{
    display: inline-block;
  }
}

.gnav{
  font-size: rem(16);
  font-weight: bold;
  text-transform: uppercase;

  &.active{
    left: 0;
  }
}

.gnav--sp{
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  width: 80%;
  height: 100vh;
  position: fixed;  
  top: 0;
  left: -150%;
  // left: 0%;
  z-index: 1000;
  transition: .5s;
  overflow-y: scroll;

  &__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item:not(:first-child){
    margin-top: 40px;
  }
}

.gnav--pc{
  display: none;
}

.burger{
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.bar{
  width: 100%;
  height: 3px;
  border-radius: 6px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,0);
  transition: all .4s;
}

.bar:nth-of-type(1){
  transform:translate(-50%,10px);
}

.bar:nth-of-type(3){
  transform:translate(-50%,-10px);
}

.burger.active .bar:nth-of-type(2){
  opacity: 0;
}

.burger.active .bar:nth-of-type(1){
  transform: rotate(-45deg);
  left: 0%;
}

.burger.active .bar:nth-of-type(3){
  transform: rotate(45deg);
  left: 0%;
}

body.active{
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .header{
    height: 100px;
  }

  .logo{
    font-size: rem(28);
  }

  .burger{
    display: none;
  }

  .gnav--sp{
    // display: none;
  }

  .gnav--pc{
    display: block;

    &__list{
      display: flex;
    }

    &__item:not(:first-child){
      margin-left: 30px;
    }
  }
}

/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
.mv{
  background-color: #000;
}

.site-title{
  color: #fff;
  letter-spacing: 0.15em;
  padding: 130px 0 60px;
  font-size: rem(33);
}

.color--yellow{
  color: $accentColor;
}

@media (min-width: 768px){
  .site-title{
    padding: 240px 0 140px;
    font-size: rem(80);
  }
}

/* -------------------------------------------- */
/* topページのworks */
/* -------------------------------------------- */
.works-top{

  &__explain{
    margin-top: 20px;
  }

  &__item-wrapper{
    margin-top: 40px;
    position: relative;
    display: flex;
    width: 100%;
  }
  
  &__item-list{
    margin: 20px 0;
    border: 1px solid #dedede;
    border-radius: 6px;
    box-shadow: 0px 5px 6px  rgba(0, 0, 0, 0.16);
  }
  
  &__item{
    text-align: left;
    padding-bottom: 30px;
  }

  &__item-title{
    font-size: rem(18);
    padding: 20px;
  }

  &__item-img{
    
  }

  &__item-content{
    padding: 20px 20px 0 20px;
    line-height: 1.6;
  }

  &__item-btn{
    // margin-top: 40px;
  }
}

.slideBtn{
  width: 25px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  z-index: 100;

  &--left{ 
    left: -12px;
    border-radius: 8px 0 0 8px;

    &::after{
      content: "";
      display: inline-block;
      border-top: 2px solid #000;
      border-left: 2px solid #000;
      transform: rotate(-45deg);
      width: 6px;
      height: 6px;
      margin-left: 6px;
    }
  }

  &--right{
    right: -12px;
    border-radius: 0 8px 8px 0;

    &::after{
      content: "";
      display: inline-block;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      transform: rotate(45deg);
      width: 6px;
      height: 6px;
      margin-right: 6px;
    }
  }

}

.practice{

  &__wrapper{
    margin-top: 80px;
  }

  &__list-wrapper{
    margin-top: 40px;
  }
  
  &__list{
    padding: 30px 20px 50px;
    position: relative;
    text-align: center;

    &--odd{
      background-color: #EFEFEF;
    }
    &--even{
      background-color: #DFDFDF;
    }
  }

  &__title{
    font-size: rem(20);
    font-weight: bold;
  }

  &__explain{
    margin-top: 10px;
    min-height: 48px;
  }

  &__image{
    margin-top: 20px;
  }
}

.fa-solid{
  margin-left: 8px;
}

.swiper-area{
  position: relative;
  max-width: 1280px;
}

.mainswiper{
  max-width: 100%;
  overflow: hidden;
}

/* スライダー */
.slider{
  position: relative;
}

/*矢印*/
.prev-arrow, 
.next-arrow {
  position:  absolute;
  z-index: 1;
  top: 40%;
  cursor: pointer;
  outline: none;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-arrow {
  left: 0;
  border-radius: 8px 0 0 8px;
}

.next-arrow {
  right: 0;
  border-radius: 0 8px 8px 0;
}

.prev-arrow::before{
  content: "";
  display: inline-block;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(-45deg);
  width: 6px;
  height: 6px;
}

.next-arrow::before{
  content: "";
  display: inline-block;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
  width: 6px;
  height: 6px;
}

/* ドット */
.slick-dots{
	position:absolute;
	bottom:1% !important;
  text-align: right !important;

  li.slick-active button:before {
    // color: $accentColor;
  }

  li button:before{
    color: $accentColor
  }
}

@media (min-width: 768px){
  .works-top{
  
    &__item-wrapper{
      width: 100%;
      margin-top: 60px;
      justify-content: space-between;
    }
    
    &__item-list{
      width: 31.66%;
    }

    &__item{
      
    }
  
    &__item-title{
      font-size: rem(20);
      padding: 30px 20px;
    }
  }
  
  .slideBtn{
    width: 40px;
    height: 70px;
  
    &--left{ 
      left: -20px;
  
      &::after{
        width: 10px;
        height: 10px;
      }
    }
  
    &--right{
      right: -20px;
  
      &::after{
        width: 10px;
        height: 10px;
      }
    }
  
  }

  .prev-arrow::before{
    width: 10px;
    height: 10px;
    margin-left: 6px;
  }
  
  .next-arrow::before{
    width: 10px;
    height: 10px;
    // margin-right: 6px;
  }

  .practice{

    &__wrapper{
      margin-top: 80px;
    }

    &__list-wrapper{
      display: flex;
      margin-top: 60px;
    }
    
    &__list{
      padding: 50px 20px 50px;
      width: calc(100%/3);
    }
  
    &__title{
      font-size: rem(28);
    }
  
    &__explain{
      margin-top: 10px;
    }
  }
}

/* -------------------------------------------- */
/* about */
/* -------------------------------------------- */
.about{
  &__wrapper{
    width: 100%;
  }
}

.about-image{

  &__wrapper{
    background-color: #000;
    padding: 30px 0 20px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  &__image{
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
  }

  &__content-frame{
    width: 100%;
    padding: 10px 24px 0;
  }

  &__text{
    font-size: rem(16);
    padding: 1em 0.8em;
    min-height: 70px;
    border: 4px solid #fff;
    border-radius: 6px;
    position: relative;
    color: #fff;
    font-family: 'DotGothic16', sans-serif;
  }
}

.about-body{

  &__wrapper{
    // width: 100%;
    // border: 1px solid #000;
    background-color: #F7F7F7;
    padding: 60px 20px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  &__title{
    font-size: rem(20);
    font-weight: bold;
  }

  &__content-list{
    margin-top: 10px;
  }

  &__content{
    margin-top: 20px;
  }
}

@media (min-width: 768px){
  .about{

    &__wrapper{
      display: flex;
      position: relative;
    }
  }

  .about-image{

    &__wrapper{
      width: 50%;
      padding: 30px 0 30px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      margin-left: auto;
      margin-right: auto;
    }
  
    &__image{
      width: 120px;
      height: 120px;
    }
  
    &__content-frame{
      padding: 10px 90px 0;
    }
  
    &__text{
      font-size: rem(20);
      padding: 1em 0.8em;
      min-height: 100px;
    }
  }

  .about-body{

    &__wrapper{
      width: 53%;
      padding: 80px 60px 80px 80px;
      margin-left: initial;
      margin-right: initial;
    }
  
    &__title{
      font-size: rem(24);
    }
  
    &__content-list{
      margin-top: 30px;
    }
  }
}

/* -------------------------------------------- */
/* contact */
/* -------------------------------------------- */
.contact-top{
  background-color: #fff;
  // position: relative;
  // z-index: -2;
}

@media (min-width: 768px){
  .contact-top{
    text-align: center;
  }
}

/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer{
  height: 70px;
  background-color: #7B7A7A;
  font-size: rem(12);

  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__copy{
    color: #fff;
  }
}

@media (min-width: 768px){

}







/* -------------------------------------------- */
/* works(アーカイブ) */
/* -------------------------------------------- */
.works{
  // border: 1px solid #000;

  &__wrapper{
    
  }

  &__item-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    &::after{
      content: "";
      display: block;
      width: 31%;
    }
  }

  &__item{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    // border: 1px solid #000;
    text-align: center;
    
    &:not(:first-child){
      margin-top: 40px;
    }
  }
  
  &__item-title{
    margin-top: 20px;
  }
  
  &__item--link{
    border: 1px solid #dfdfdf;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  
  &--thum{
    aspect-ratio: 4 / 3;
    img{
      transition: all .4s;
    }
  }
}

@media (min-width: 768px){
  .works{
    &__item{
      width: 48%;
    }
  }
}

@media (min-width: 992px){
  .works{
  
    &__item{
      width: 31%;
    }
  }
}

/* -------------------------------------------- */
/* 404page */
/* -------------------------------------------- */
.nf-page{

  &__wrapper{

  }

  &__text{
    font-size: rem(48);
    font-size: rem(20);
    font-weight: bold;
  }

  &__to-link{
    margin-top: 40px;
  }

  &__link{
    color: #1B0DAB;;
    transition: all .4s;
    text-decoration: underline;

    &:hover{
      opacity: .7;
    }
  }
}

@media (min-width: 768px){
  .nf-page{
    
    &__text{
      font-size: rem(48);
    }
  }
}

/* -------------------------------------------- */
/* contact */
/* -------------------------------------------- */
.contact{
  &__wrapper{
    max-width: 600px;
  }
}

.form-parts{
  // border: 1px solid #000;
  margin-top: 40px;

  &__label{
    display: flex;
    align-items: center;
  }

  &__body{
    width: 100%;
    font-size: rem(14);
    padding: 1em 20px;
    display: inline-block;
    border-radius: 6px;
    // outline: solid 1px red;
    border: 1px solid #707070;
    margin-top: 10px;

    &:focus{
      background-color: #efefef;
    }
  }
}

.label-body{
  color: #fff;
  border-radius: 6px;
  font-size: rem(12);
  padding: 0.5em 1em;
  display: inline-block;
  margin-right: 10px;
}

.must{
  background-color: #F58694;
}

.free{
  background-color: #7FBFFF;
}

.label-title{

}

.textarea{
  width: 100%;
  height: 200px;
}

.acceptance{
  margin-top: 40px;
}

.form-btn{
  width: 200px;
  font-size: rem(16);
  border-radius: 6px;
  cursor: pointer;
  transition: all .4s;
  border: 1px solid #707070;;
  &:hover{
    opacity: .6;
  }
}

/* contact form7用 */ 
/* エラーメッセージを見やすくする */
span.wpcf7-not-valid-tip {
  padding-top: 0.5em;
  font-weight: 600;

  &::before{
    content: "※";
  }
}

.cf7-submit-btn{
  // margin-top: 80px;
}

.wpcf7 form .wpcf7-response-output{
  color: #DD3232;
  font-weight: bold;
  margin: 0;
}

.wpcf7-spinner{
  display: none;
}

@media (min-width: 768px){
  form{
    margin-top: 50px;
  }
}

/* -------------------------------------------- */
/* single */
/* -------------------------------------------- */
.single{
  &__wrapper{
    padding: 40px 0;
  }

  &-top{
    padding-bottom: 30px;

    &__thum{
      border: 2px solid #ddd;
    }

    &__explain{
      max-width: 800px;
      margin: 30px auto 0;
    }

    &__attention{
      max-width: 600px;
      margin: 40px auto 0;
    }
  }

  &-detail{

  }

  &-point{
    &__wrapper{
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }
  
    &__image{
      width: 100%;
    }
  
    &__list{
      background-color: #FAFAFA;
      width: 100%;
      margin-top: 30px;
    }

    &__item{
      padding: 20px 16px;
    }

    &__heading{
      border-bottom: 1px solid $accentColor;
      display: inline-block;
      font-size: rem(16);
    }

    &__content{
      margin-top: 20px;
    }
  }
}

.single-content{
  margin: 40px auto 0;
  max-width: 900px;
  width: 100%;

  &__list{
    margin-top: 20px;
  }

  &__title{
    font-size: rem(16);
    font-weight: bold;
  }

  &__text-wrapper{
    
  }

  &__text{

  }
}

.pagination{
  display: flex;
  justify-content: space-between;
  min-width: 270px;
  width: 60%;
  margin: 40px auto 0;
}

.to-works,
.prev,
.next{
  a{
    display: block;
    transition: all .3s;
    padding: 0 0.5em;
    border-radius: 4px;
    &:hover{
      background: $accentColor;
      color: #333;
    }
  }
}

@media (min-width: 768px){
  .single{

    &__wrapper{
      padding: 80px 0;
    }

    &__top{

    }

    &-point{
      &__wrapper{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 60px;
      }
  
      &__image{
        width: 38%;
      }
    
      &__list{
        margin-top: 0;
        width: 60%;
      }
    }
  }

  .single-content{
    margin-top: 60px;
  
    &__list{
      display: flex;
    }
    
    &__title{
      font-size: rem(20);
      min-width: 280px;
    }
    
    &__text-wrapper{
      padding-top: 2px;
      flex: 1;
    }
  }

  .pagination{
    margin: 80px auto 0;
  }
}

/* -------------------------------------------- */
/* profile */
/* -------------------------------------------- */
.prof-sec{
  padding: 50px 0;
}

.prof-heading{
  color: #E6E5EF;
  position: absolute;
  font-size: rem(40);
  bottom: 0;
  z-index: -1;
}

.posi-left{
  left: 0px;
}

.posi-right{
  right: 0px;
}

.profile{
  &-container{
    border: 1px solid #000;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    background-color: skyblue;
  }

}

.about-me{

}

.career{
  &__list{
    position: relative;
    padding: 0 0 0 1.8em;

    &::before{
      content: " ";
      width: 2px;
      background: #333;
      display: block;
      position: absolute;
      top: 25px;
      left: 0.7em;
      bottom: 2px;
    }

    &:last-child::before{
      height: 60%;
    }
  }

  &__timeline{
    display: block;
    color: #808080;

    &::before{
      content: "";
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      background: $accentColor;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__content{
    padding: 1.5em 0;
  }
}

.skills{
  .skill-set-list{
    width: 100%;
    margin-bottom: 32px;
  
    &__name{
      margin-bottom: 8px;
      font-weight: bold;
      display: flex;
      align-items: flex-end;
    }
  
    &__image{
      background: url(../images/wordpress_icon_130782.png) center/cover;
      width: 40px;
      height: 40px;
      display: inline-block;
      margin-right: 8px;
    }
  
    &__explain{
      // color: #333333;
    }
  }
}

.wicd{

}


@media (min-width: 768px){
  .prof-sec{
    padding: 100px 0;
  }
  .profile{
    &-wrapper{
      
    }
  }
  .prof-heading{
    font-size: rem(120);
  }

  .posi-left{
    left: -10%;
  }
  
  .posi-right{
    right: -10%;
  }

  .skill-set-list{
    width: 48%;
    margin-bottom: 40px;

    &__name{
      margin-bottom: 12px;
    }

    &__image{
      width: 50px;
      height: 50px;
    }
  }
}
/* -------------------------------------------- */
/* contact */
/* -------------------------------------------- */

@media (min-width: 768px){

}



/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px){

}
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1025px) {


  
}
