@charset "UTF-8";
* {
  box-sizing: border-box;
}

.thum {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.thum img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.5;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}
main {
  position: relative;
  z-index: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.inner {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 0 40px;
}

section {
  padding-bottom: 100px;
}

.sec-heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0.1em;
  position: relative;
  padding: 60px 20px 0;
  margin-bottom: 50px;
}
.sec-heading::before {
  content: "";
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, #C2E9FB, #A1C4FD);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.sec-heading--left {
  text-align: left;
}
.sec-heading--right {
  text-align: right;
}

.sec-heading--ja {
  font-size: 1rem;
  letter-spacing: 0.3em;
  line-height: 1;
}

.sec-sub-heading {
  font-size: 1.5rem;
  position: relative;
  border-bottom: 3px solid #333;
  display: inline-block;
}
.sec-sub-heading::after {
  content: " ";
  position: absolute;
  display: block;
  border-bottom: solid 3px #ffd54d;
  bottom: -3px;
  width: 30%;
}

@media (min-width: 768px) {
  section {
    padding-bottom: 150px;
  }
  .sec-heading {
    font-size: 5.625rem;
    padding: 130px 80px 0;
    margin-bottom: 100px;
  }
  .sec-heading::before {
    height: 210px;
  }
  .sec-heading--ja {
    font-size: 1.25rem;
  }
  .sec-sub-heading {
    font-size: 2rem;
    position: relative;
    border-bottom: 3px solid #333;
    display: inline-block;
  }
  .sec-sub-heading::after {
    content: " ";
    position: absolute;
    display: block;
    border-bottom: solid 3px #ffd54d;
    bottom: -3px;
    width: 30%;
  }
}
.en-title {
  font-family: "Montserrat", sans-serif;
}

.btn {
  display: block;
  padding: 1em 2em;
  line-height: 1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  background-color: transparent;
}
.btn--more {
  font-size: 0.875rem;
  border: 1px solid #000;
  width: 200px;
  border-radius: 4px;
  background-color: #fff;
}
.btn--more::after {
  content: "";
  display: inline-block;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
  width: 6px;
  height: 6px;
  margin-left: 8px;
}
.btn--pageChange {
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  width: 200px;
  border: 2px solid #333333;
  position: relative;
}
.btn--pageChange::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #FFD54D;
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 8px;
  left: 8px;
}

.mt-70 {
  margin-top: 70px;
}

@media (min-width: 768px) {
  .btn--more {
    font-size: 1rem;
    width: 230px;
  }
  .mt-70 {
    margin-top: 100px;
  }
  .mla {
    margin-left: initial;
  }
}
/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header {
  height: 70px;
}
.header__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.burger {
  font-size: 1.875rem;
}

.header-nav {
  display: none;
}
.header-nav__list {
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
}
.header-nav__item:not(:first-child) {
  margin-left: 30px;
}
.header-nav__link {
  display: inline-block;
}

@media (min-width: 768px) {
  .header {
    height: 100px;
  }
  .header__logo {
    font-size: 1.75rem;
  }
  .burger {
    display: none;
  }
  .header-nav {
    display: block;
  }
}
/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
.mv {
  background-color: #000;
}

.site-title {
  color: #fff;
  letter-spacing: 0.15em;
  padding: 60px 0;
  font-size: 2.0625rem;
}

.color--yellow {
  color: #FFD54D;
}

@media (min-width: 768px) {
  .site-title {
    padding: 140px 0;
    font-size: 5rem;
  }
}
/* -------------------------------------------- */
/* works */
/* -------------------------------------------- */
.works {
  text-align: center;
}
.works__explain {
  margin-top: 20px;
}
.works__item-wrapper {
  margin-top: 40px;
  position: relative;
}
.works__item-list {
  border: 1px solid #DEDEDE;
  border-radius: 4px;
}
.works__item {
  text-align: left;
  padding-bottom: 30px;
}
.works__item-title {
  font-size: 1.125rem;
  padding: 20px;
}
.works__item-content {
  padding: 20px;
  line-height: 1.6;
}
.works__item-btn {
  margin-top: 40px;
}

.slideBtn {
  width: 25px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.slideBtn--left {
  left: -12px;
  border-radius: 8px 0 0 8px;
}
.slideBtn--left::after {
  content: "";
  display: inline-block;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(-45deg);
  width: 6px;
  height: 6px;
  margin-top: 15px;
}
.slideBtn--right {
  right: -12px;
  border-radius: 0 8px 8px 0;
}
.slideBtn--right::after {
  content: "";
  display: inline-block;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
  width: 6px;
  height: 6px;
  margin-top: 15px;
}

.practice__wrapper {
  margin-top: 80px;
}
.practice__list {
  padding: 30px 20px 50px;
  position: relative;
  margin-top: 40px;
}
.practice__list--odd {
  background-color: #EFEFEF;
}
.practice__list--even {
  background-color: #DFDFDF;
}
.practice__title {
  font-size: 1.25rem;
  font-weight: bold;
}
.practice__explain {
  margin-top: 10px;
  min-height: 42px;
}
.practice__image {
  margin-top: 20px;
}

.fa-solid {
  margin-left: 8px;
}

@media (min-width: 768px) {
  .practice__wrapper {
    margin-top: 80px;
  }
  .practice__flex-con {
    display: flex;
  }
  .practice__list {
    padding: 50px 20px 50px;
    width: 33.3333333333%;
  }
  .practice__title {
    font-size: 1.75rem;
  }
  .practice__explain {
    margin-top: 10px;
  }
}
/* -------------------------------------------- */
/* about */
/* -------------------------------------------- */
.about-image__wrapper {
  width: 100%;
  background-color: #000;
  padding: 30px 0 20px;
}
.about-image__image {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
}
.about-image__content-frame {
  width: 100%;
  padding: 10px 24px 0;
}
.about-image__text {
  font-size: 1rem;
  padding: 1em 0.8em;
  min-height: 70px;
  border: 4px solid #fff;
  border-radius: 6px;
  position: relative;
  color: #fff;
  font-family: "DotGothic16", sans-serif;
}

.about-body__wrapper {
  width: 100%;
  background-color: #F7F7F7;
  position: relative;
  z-index: -2;
  padding: 60px 20px;
}
.about-body__title {
  font-size: 1.25rem;
  font-weight: bold;
}
.about-body__content-list {
  margin-top: 10px;
}
.about-body__content {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .about__wrapper {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .about-image__wrapper {
    width: 50%;
    padding: 30px 0 30px;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
  }
  .about-image__image {
    width: 120px;
    height: 120px;
    margin: 0 auto 10px;
  }
  .about-image__content-frame {
    width: 100%;
    padding: 10px 24px 0;
  }
  .about-image__text {
    font-size: 1.25rem;
    padding: 1em 0.8em;
    min-height: 100px;
  }
  .about-body__wrapper {
    width: 53%;
    padding: 80px 50px 80px 110px;
  }
  .about-body__title {
    font-size: 1.5rem;
  }
  .about-body__content-list {
    margin-top: 30px;
  }
}
/* -------------------------------------------- */
/* contact */
/* -------------------------------------------- */
.contact {
  background-color: #fff;
  position: relative;
  z-index: -2;
}

@media (min-width: 768px) {
  .contact {
    text-align: center;
  }
}
/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer {
  height: 70px;
  background-color: #7B7A7A;
  font-size: 0.75rem;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.footer__copy {
  color: #fff;
}

/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */