@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* -------------------------------------------- */
/* 変数 */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* リセット*/
/* -------------------------------------------- */
body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}

.acceptance {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* -------------------------------------------- */
/* 共通部分 */
/* -------------------------------------------- */
body {
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.5;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #FFFEF8;
  position: relative;
}

footer {
  margin-top: auto;
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}
.inner {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  position: relative;
}

@media (min-width: 768px) {
  .inner {
    padding: 0 40px;
  }
}
/* -------------------------------------------- */
/* 見出し関連 */
/* -------------------------------------------- */
/* 見出しの共通部分 */
.heading-common {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0.1em;
}

/* セクションの見出し */
.sec-heading {
  position: relative;
  padding: 40px 0;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#3f4c88), to(#262f57));
  background: linear-gradient(to bottom, #3f4c88, #262f57);
}
.sec-heading__works {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(../images/mv.jpeg) center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/mv.jpeg) center no-repeat;
  background-attachment: fixed;
  padding: 80px 0 150px;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  color: #fff;
}
.sec-heading.--left {
  text-align: left;
}
.sec-heading.--right {
  text-align: right;
}

.sec-heading--ja {
  font-size: 1rem;
  letter-spacing: 0.3em;
  line-height: 1;
}

/* セクションの小見出し(h3) */
.sub-heading__wrapper {
  position: relative;
  text-align: center;
}

.sub-heading {
  font-size: 1.375rem;
  text-align: center;
}
.sub-heading.--top {
  position: relative;
  text-align: center;
}
.sub-heading.--top.--daikei {
  background-color: #FFFEF8;
  padding: 18px 0;
  max-width: 480px;
  width: 70%;
  margin: -65px auto 0;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.sub-heading-en {
  color: #ddd;
  letter-spacing: 0.15em;
  font-size: 3.75rem;
}
.sub-heading.--ja {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}

/* 下層ページのページタイトル */
.page-heading {
  padding: 110px 20px 60px;
  text-align: center;
  background-color: #262f57;
  color: #fff;
}

@media (min-width: 768px) {
  /* 見出しの共通部分 */
  .heading-common {
    font-size: 5.625rem;
  }
  /* セクションの見出し */
  .sec-heading {
    font-size: 5.625rem;
    padding-top: 130px;
    padding: 90px 0;
  }
  .sec-heading::after {
    height: 210px;
  }
  .sec-heading__works {
    padding: 200px 0 328px;
  }
  .sec-heading--ja {
    font-size: 1.25rem;
  }
  /* セクションの小見出し(h3) */
  .sub-heading {
    font-size: 2rem;
  }
  .sub-heading.--top {
    position: relative;
    text-align: center;
  }
  .sub-heading.--top.--daikei {
    margin: -128px auto 0;
    padding: 40px 0;
  }
  .sub-heading-en {
    font-size: 6.75rem;
  }
  /* 下層ページのページタイトル */
  .page-heading {
    padding: 200px 40px 140px;
  }
}
/* -------------------------------------------- */
/* パーツ類 */
/* -------------------------------------------- */
.padding-container {
  padding-top: 50px;
  padding-bottom: 100px;
}

/* ボタン */
.btn {
  display: block;
  padding: 1em 2em;
  line-height: 1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  margin-top: 60px;
}
.btn--more {
  font-size: 0.875rem;
  border: 2px solid #000;
  width: 200px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: background 0.6s, color 0.6s, border 0.6s;
  transition: background 0.6s, color 0.6s, border 0.6s;
  position: relative;
}
.btn--more::after {
  content: "\f0da";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  line-height: 1;
  margin-left: 8px;
  font-size: 1rem;
}
.btn--more:hover {
  background-color: #262f57;
  color: #fff;
  border: 2px solid #262f57;
}
.btn--pageChange {
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  width: 200px;
  border: 2px solid #333333;
  position: relative;
}
.btn--pageChange:hover::after {
  top: 0;
  left: 0;
}
.btn--pageChange::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #FFD54D;
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 8px;
  left: 8px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/* Topへ戻るボタン */
.top {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #FFD54D;
  cursor: pointer;
  border-radius: 4px;
  z-index: 5;
  right: 20px;
  position: fixed;
  bottom: 2%;
}
.top::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 15px 12px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* サムネイル */
.thum {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.thum img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/*  パンクズ  */
.breadcrumbs {
  background-color: #CED7DC;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
}
.breadcrumbs i {
  padding: 0 4px;
}

@media (min-width: 768px) {
  .padding-container {
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .btn--more {
    font-size: 1rem;
    width: 230px;
  }
  /* Topへ戻るボタン */
  .top {
    right: 4%;
  }
  .item--responsive {
    width: 48%;
  }
  /*  パンクズ  */
  .breadcrumbs {
    height: 50px;
  }
}
@media (min-width: 992px) {
  .item--responsive {
    width: 31%;
  }
}
/* -------------------------------------------- */
/* 補助クラス */
/* -------------------------------------------- */
.en-text {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.mt-70 {
  margin-top: 70px;
}

.bg-color {
  background: #FFFEF8;
}

.bg-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#C2E9FB), to(#A1C4FD));
  background: linear-gradient(to bottom, #C2E9FB, #A1C4FD);
}

.first-letter--change {
  color: #FFD54D;
}

.over--inner {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

@media (min-width: 768px) {
  .mt-70 {
    margin-top: 100px;
  }
  .mla {
    margin-left: initial;
  }
}
/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header {
  height: 70px;
  width: 100%;
  color: #fff;
  background-color: rgba(38, 47, 87, 0.8);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
.header.fadein {
  background-color: rgba(38, 47, 87, 0.5);
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation: fadein 0.4s ease;
          animation: fadein 0.4s ease;
  height: 50px;
  z-index: 10;
}
.header__wrapper {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes fadein {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadein {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.logo {
  font-size: calc(1.125rem + (1vw - 3.75px) * 1.2121);
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;
}
.logo.fontChang {
  font-size: 0.875rem;
}
.logo__link {
  display: inline-block;
}

/* ヘッダーナビ */
.gnav {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
.gnav.active {
  left: 0;
}

/* スマホ用ナビ */
.gnav--sp {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 80%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -150%;
  z-index: 10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: scroll;
}
.gnav--sp__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.gnav--sp__item:not(:first-child) {
  margin-top: 40px;
}

/* PC用ナビ */
.gnav--pc {
  display: none;
}
.gnav--pc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gnav--pc__list .current a::after,
.gnav--pc__list a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.gnav--pc__item.current a, .gnav--pc__item a:hover {
  color: #FFD54D;
}
.gnav--pc__item:not(:first-child) {
  margin-left: 30px;
}
.gnav--pc__link {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  display: block;
  padding: 8px 0px;
  position: relative;
}
.gnav--pc__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 2px;
  background: #FFD54D;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
.gnav--pc__link:hover {
  color: #FFD54D;
}

.burger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.bar {
  width: 100%;
  height: 3px;
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.bar:nth-of-type(1) {
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
}

.bar:nth-of-type(3) {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

.burger.active .bar:nth-of-type(2) {
  opacity: 0;
}

.burger.active .bar:nth-of-type(1) {
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.burger.active .bar:nth-of-type(3) {
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

body.active {
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .header {
    height: 100px;
  }
  .burger {
    display: none;
  }
  .gnav--pc {
    display: block;
  }
}
@media (min-width: 1200px) {
  .logo {
    font-size: 1.75rem;
  }
}
/* -------------------------------------------- */
/* mv */
/* --------------------------------------------- */
.mv {
  height: 100vh;
  position: relative;
  width: 100%;
}
.mv::before, .mv::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #262f57;
  z-index: 1;
}
.mv::before {
  left: 0;
  -webkit-clip-path: polygon(0 0, 0% 100%, 50% 0);
          clip-path: polygon(0 0, 0% 100%, 50% 0);
}
.mv::after {
  right: 0;
  -webkit-clip-path: polygon(50% 100%, 100% 100%, 100% 0);
          clip-path: polygon(50% 100%, 100% 100%, 100% 0);
}
.mv__bar {
  background-color: #E6B422;
  position: absolute;
  z-index: 3;
}
.mv__bar.--cross {
  left: 0;
  bottom: 15%;
  height: 14px;
  width: 100%;
}
.mv__bar.--cross::after {
  content: "";
  width: 100%;
  height: 6px;
  background-color: #fff;
  position: absolute;
  bottom: -20px;
}
.mv__bar.--vertical {
  width: 14px;
  height: 100%;
  top: 0;
  right: 45px;
}
.mv__bar.--vertical::after {
  content: "";
  width: 6px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: -20px;
}

.film {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.mvSwiper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.mvSwiper {
  width: 100%;
  height: 100%;
}
.mvSwiper .swiper-wrapper .swiper-slide {
  overflow: hidden;
}
.mvSwiper .swiper-wrapper .swiper-slide-prev img,
.mvSwiper .swiper-wrapper .swiper-slide-active img,
.mvSwiper .swiper-wrapper .swiper-slide-duplicate-active img {
  -webkit-animation: zoom 10s linear 0s 1 normal both;
          animation: zoom 10s linear 0s 1 normal both;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.site-title {
  color: #fff;
  letter-spacing: 0.15em;
  font-size: 33px;
  font-size: min(max(33px, 2.0625rem + (1vw - 3.75px) * 5.1934), 80px);
  padding: 200px 0px;
  padding: 270px 0px 200px;
  position: relative;
  z-index: 2;
}

/* スクロール */
.scrolldown {
  position: absolute;
  bottom: 1%;
  right: 30%;
  z-index: 3;
  /* スクロールバーの棒 */
  /* スクロールバーの光 */
}
.scrolldown::before, .scrolldown::after {
  content: "";
  position: absolute;
}
.scrolldown::after {
  bottom: 0;
  left: 10%;
  width: 2px;
  height: 50px;
  background: #eee;
}
.scrolldown::before {
  bottom: 0;
  left: -4px;
  width: 10px;
  height: 16px;
  border-radius: 50%;
  background: #FFD54D;
  -webkit-animation: circlemove 1.8s ease-in-out infinite, cirlemovehide 1.8s ease-out infinite;
          animation: circlemove 1.8s ease-in-out infinite, cirlemovehide 1.8s ease-out infinite;
}

/* スクロールバーの文字 */
.scrolldown span {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

@-webkit-keyframes circlemove {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: -5px;
  }
}

@keyframes circlemove {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: -5px;
  }
}
@-webkit-keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .mv__bar.--cross {
    height: 24px;
  }
  .mv__bar.--cross::after {
    height: 10px;
    bottom: -40px;
  }
  .mv__bar.--vertical {
    width: 24px;
    right: 20%;
  }
  .mv__bar.--vertical::after {
    width: 10px;
    right: -40px;
  }
  /* スクロール */
  .scrolldown {
    right: 100px;
  }
}
/* -------------------------------------------- */
/* topページのworks */
/* -------------------------------------------- */
.works-top {
  padding-bottom: 80px;
}
.works-top__wrapper {
  padding-bottom: 70px;
}
.works-top__explain {
  padding-top: 20px;
  text-align: center;
}
.works-top__item-wrapper {
  margin-top: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.works-top__item-list {
  padding: 10px 0;
}
.works-top__item {
  text-align: left;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.16);
}
.works-top__item-title {
  font-size: 1.125rem;
  padding: 20px;
  text-align: center;
}
.works-top__item-content {
  padding: 20px 20px 0 20px;
  line-height: 1.6;
  font-size: 14px;
  letter-spacing: 0.15em;
  min-height: 110px;
}

.slideBtn {
  width: 25px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  z-index: 1;
}
.slideBtn--left {
  left: -12px;
  border-radius: 8px 0 0 8px;
}
.slideBtn--left::after {
  content: "";
  display: inline-block;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 6px;
  height: 6px;
  margin-left: 6px;
}
.slideBtn--right {
  right: -12px;
  border-radius: 0 8px 8px 0;
}
.slideBtn--right::after {
  content: "";
  display: inline-block;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 6px;
  height: 6px;
  margin-right: 6px;
}

.practice__wrapper {
  margin-top: 80px;
}
.practice__list-wrapper {
  margin-top: 40px;
}
.practice__list {
  padding: 30px 20px 50px;
  position: relative;
  text-align: center;
}
.practice__list--odd {
  background-color: #f7f7f7;
}
.practice__list--even {
  background-color: #fbfbfb;
}
.practice__title {
  font-size: 1.25rem;
  font-weight: bold;
}
.practice__explain {
  margin-top: 10px;
  min-height: 48px;
}
.practice__explain .fa-solid {
  margin-left: 8px;
}
.practice__image {
  margin-top: 20px;
}

.swiper-area {
  position: relative;
  max-width: 1280px;
}

.mainswiper {
  max-width: 100%;
  overflow: hidden;
}

/* スライダー */
.slider {
  position: relative;
}

/*矢印*/
.prev-arrow,
.next-arrow {
  position: absolute;
  z-index: 1;
  top: 40%;
  cursor: pointer;
  outline: none;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prev-arrow {
  left: 0;
  border-radius: 8px 0 0 8px;
}

.next-arrow {
  right: 0;
  border-radius: 0 8px 8px 0;
}

.prev-arrow::before {
  content: "";
  display: inline-block;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 6px;
  height: 6px;
}

.next-arrow::before {
  content: "";
  display: inline-block;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 6px;
  height: 6px;
}

/* ドット */
.slick-dots {
  position: absolute;
  bottom: 1% !important;
  text-align: right !important;
}
.slick-dots li button:before {
  color: #FFD54D;
}

@media (min-width: 768px) {
  .works-top {
    padding-bottom: 100px;
  }
  .works-top__item-wrapper {
    width: 100%;
    margin-top: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .works-top__item-list {
    width: 31.66%;
    padding: 10px;
  }
  .works-top__item-title {
    font-size: 1.25rem;
    padding: 30px 20px;
  }
  .works-top__item-content {
    min-height: 90px;
  }
  .slideBtn {
    width: 40px;
    height: 70px;
  }
  .slideBtn--left {
    left: -20px;
  }
  .slideBtn--left::after {
    width: 10px;
    height: 10px;
  }
  .slideBtn--right {
    right: -20px;
  }
  .slideBtn--right::after {
    width: 10px;
    height: 10px;
  }
  .prev-arrow::before {
    width: 10px;
    height: 10px;
    margin-left: 6px;
  }
  .next-arrow::before {
    width: 10px;
    height: 10px;
  }
  .practice__wrapper {
    margin-top: 80px;
  }
  .practice__list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
  }
  .practice__list {
    padding: 50px 20px 50px;
    width: 33.3333333333%;
  }
  .practice__title {
    font-size: 1.75rem;
  }
  .practice__explain {
    margin-top: 10px;
  }
}
/* -------------------------------------------- */
/* about */
/* -------------------------------------------- */
.about__wrapper {
  width: 100%;
}

.about-image__wrapper {
  background-color: #000;
  padding: 30px 0 20px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  z-index: 2;
}
.about-image__image {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
}
.about-image__content-frame {
  width: 100%;
  padding: 10px 6.25vw;
}
.about-image__text {
  font-size: 1rem;
  padding: 1em 0.8em;
  min-height: 90px;
  border: 4px solid #fff;
  border-radius: 6px;
  position: relative;
  color: #fff;
  font-family: "DotGothic16", sans-serif;
}

/* タイピング */
.TextTyping {
  letter-spacing: 0.2em;
  word-break: break-all;
}

.TextTyping span {
  display: inline-block;
  color: #fff;
}

.TextTyping::after {
  content: "|";
  -webkit-animation: typinganime 0.8s ease infinite;
          animation: typinganime 0.8s ease infinite;
  color: #fff;
}

@-webkit-keyframes typinganime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typinganime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about-body__wrapper {
  padding: 60px 20px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  z-index: 1;
}
.about-body__title {
  font-size: 1.25rem;
  font-weight: bold;
}
.about-body__content-list {
  margin-top: 10px;
}
.about-body__content {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .about-image__wrapper {
    width: 50%;
    padding: 30px 0 30px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
  }
  .about-image__image {
    width: 120px;
    height: 120px;
  }
  .about-image__text {
    font-size: 1.25rem;
    padding: 1em 0.8em;
    min-height: 110px;
  }
  .about-body__wrapper {
    width: 53%;
    padding: 80px 60px 80px 80px;
    margin-left: initial;
    margin-right: initial;
    background-color: #F7F7F7;
  }
  .about-body__title {
    font-size: 1.5rem;
  }
  .about-body__content-list {
    margin-top: 30px;
  }
}
/* -------------------------------------------- */
/* contact */
/* -------------------------------------------- */
@media (min-width: 768px) {
  .contact-top {
    text-align: center;
  }
}
/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer {
  height: 70px;
  background-color: #262f57;
  font-size: 0.75rem;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.footer__copy {
  color: #fff;
}

/* -------------------------------------------- */
/* works(アーカイブ) */
/* -------------------------------------------- */
.works__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 30px;
}
.works__item-list::after {
  content: "";
  display: block;
  width: 31%;
}
.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
}
.works__item:not(:first-child) {
  margin-top: 40px;
}
.works__item-title {
  margin-top: 20px;
}
.works__item--link {
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.works--thum {
  aspect-ratio: 4/3;
}
.works--thum img {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .works__text {
    text-align: center;
  }
  .works__item-list {
    margin-top: 50px;
  }
}
/* -------------------------------------------- */
/* 404page */
/* -------------------------------------------- */
.nf-page__text {
  font-size: 3rem;
  font-size: 1.25rem;
  font-weight: bold;
}
.nf-page__to-link {
  margin-top: 40px;
}
.nf-page__link {
  color: #1B0DAB;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  text-decoration: underline;
}
.nf-page__link:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .nf-page__text {
    font-size: 3rem;
  }
}
/* -------------------------------------------- */
/* contact */
/* -------------------------------------------- */
.contact__wrapper {
  max-width: 600px;
}

.form-parts {
  margin-top: 40px;
}
.form-parts__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-parts__body {
  width: 100%;
  font-size: 0.875rem;
  padding: 1em 20px;
  display: inline-block;
  border-radius: 6px;
  border: 1px solid #707070;
  margin-top: 10px;
}
.form-parts__body:focus {
  background-color: #efefef;
}

.label-body {
  color: #fff;
  border-radius: 6px;
  font-size: 0.75rem;
  padding: 0.5em 1em;
  display: inline-block;
  margin-right: 10px;
}

.must {
  background-color: #F58694;
}

.free {
  background-color: #7FBFFF;
}

.textarea {
  width: 100%;
  height: 200px;
}

.acceptance {
  margin-top: 40px;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.form-btn {
  width: 200px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  border: 1px solid #707070;
}
.form-btn:hover {
  opacity: 0.6;
}

/* contact form7用 */
/* エラーメッセージを見やすくする */
span.wpcf7-not-valid-tip {
  padding-top: 0.5em;
}
span.wpcf7-not-valid-tip::before {
  content: "※";
}

.wpcf7 form .wpcf7-response-output {
  color: #DD3232;
  font-weight: bold;
  margin: 0;
  border: none;
}

.wpcf7-spinner {
  display: none;
}

@media (min-width: 768px) {
  form {
    margin-top: 50px;
  }
}
/* -------------------------------------------- */
/* single */
/* -------------------------------------------- */
.single__wrapper {
  padding: 40px 0;
}
.single-top {
  padding-bottom: 40px;
}
.single-top__thum {
  border: 2px solid #ddd;
}
.single-top__explain {
  max-width: 800px;
  margin: 30px auto 0;
}
.single-top__attention {
  max-width: 600px;
  margin: 40px auto 0;
}

.single-detail {
  background-color: #FAFAFB;
}

.single__site-image-wrapper {
  margin-top: 60px;
  /* spでのイメージ */
}
.single__site-image-wrapper .pc-image-wrapper {
  margin-bottom: 30px;
}
.single__site-image-wrapper .pc-image-wrapper .pc-image {
  width: 100%;
  display: none;
}
.single__site-image-wrapper .sp-image-wrapper .sp-image {
  display: none;
  width: 100%;
}
.single__site-image-wrapper .toggle-btn {
  cursor: pointer;
  color: #333;
  background-color: #fff;
  border: 2px solid #000;
  padding: 8px;
  display: inline-block;
  border-radius: 6px;
  font-weight: bold;
  margin-bottom: 8px;
}
.single__site-image-wrapper .toggle-btn i {
  margin-right: 4px;
}

.single-point__page-title {
  padding: 20px 0;
  font-weight: bold;
  font-size: 1.25rem;
}
.single-point__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.single-point__image {
  width: 100%;
}
.single-point__list {
  background-color: #FAFAFA;
  width: 100%;
  margin-top: 30px;
}
.single-point__item {
  padding: 20px 16px;
}
.single-point__heading {
  border-bottom: 1px solid #FFD54D;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
}
.single-point__content {
  margin-top: 20px;
  letter-spacing: 0.15em;
}

.pointSwiper {
  margin-top: 40px;
  padding-bottom: 100px;
}
.pointSwiper__btn {
  z-index: 100;
  position: absolute;
  text-align: center;
  display: block;
  padding: 0 20px;
  color: #333;
  text-decoration: none;
  outline: none;
  top: auto;
  bottom: 2%;
  width: 30%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.pointSwiper__btn.--left::before, .pointSwiper__btn.--left::after {
  content: "";
  position: absolute;
  height: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #333;
}
.pointSwiper__btn.--left::before {
  bottom: -5px;
  width: 85%;
  left: 5%;
}
.pointSwiper__btn.--left::after {
  bottom: 0px;
  -webkit-transform: rotate(145deg);
          transform: rotate(145deg);
  width: 15px;
  left: 5%;
}
.pointSwiper__btn.--left:hover::before {
  left: 0%;
}
.pointSwiper__btn.--left:hover::after {
  left: 0%;
}
.pointSwiper__btn.--right::before, .pointSwiper__btn.--right::after {
  content: "";
  position: absolute;
  height: 1px;
  background: #333;
  -webkit-transition: left 0.3s, right 0.3s;
  transition: left 0.3s, right 0.3s;
}
.pointSwiper__btn.--right::before {
  bottom: -5px;
  left: 10%;
  width: 85%;
}
.pointSwiper__btn.--right::after {
  bottom: 0px;
  right: 5%;
  width: 15px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}
.pointSwiper__btn.--right:hover::before {
  left: 15%;
}
.pointSwiper__btn.--right:hover::after {
  right: 0%;
}

.click-open {
  font-size: 0.75rem;
  margin-bottom: 16px;
  color: #808080;
}

.single-content {
  margin: 40px auto 0;
  max-width: 900px;
  width: 100%;
}
.single-content__list {
  margin-top: 20px;
}
.single-content__title {
  font-size: 1rem;
  font-weight: bold;
}
.single-content__text {
  letter-spacing: 0.15em;
}
.single-content__text.--list::before {
  content: "・";
}

.fixed-pagination-btn {
  width: 40px;
  height: 100px;
  position: fixed;
  top: 50%;
  z-index: 1;
}
.fixed-pagination-btn.left {
  left: 0;
}
.fixed-pagination-btn.right {
  right: 0;
}

.fixed-pagination-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(38, 47, 87, 0.5);
  top: 50%;
  width: 100%;
  height: 100%;
}

.fixed-pagination-btn.left a {
  border-radius: 0% 60% 60% 0%;
}

.fixed-pagination-btn.right a {
  border-radius: 60% 0% 0% 60%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 270px;
  width: 60%;
  margin: 40px auto 0;
}
.pagination i {
  padding: 0 4px;
}

.to-works a,
.prev a,
.next a {
  display: block;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  padding: 0 0.5em;
  border-radius: 4px;
}
.to-works a:hover,
.prev a:hover,
.next a:hover {
  background: #FFD54D;
}

@media (min-width: 768px) {
  .single__heading-en {
    font-size: 6.75rem;
  }
  .single__wrapper {
    padding: 80px 0;
  }
  .single-top {
    padding-bottom: 80px;
  }
  .single-content {
    margin-top: 60px;
  }
  .single-content__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .single-content__title {
    font-size: 1.25rem;
    min-width: 280px;
  }
  .single-content__text-wrapper {
    padding-top: 2px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .single__site-image-wrapper .sp-image-wrapper {
    width: 50%;
  }
  .single__site-image-wrapper .toggle-btn {
    -webkit-transition: background-color 0.4s, color 0.4s;
    transition: background-color 0.4s, color 0.4s;
  }
  .single__site-image-wrapper .toggle-btn:hover {
    background: #000;
    color: #fff;
  }
  .single-point__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 400px;
  }
  .single-point__image {
    width: 48%;
  }
  .single-point__list {
    margin-top: 0;
    width: 50%;
  }
  .single-point__heading {
    font-size: 1.25rem;
  }
  .pointSwiper {
    margin-top: 60px;
    padding-bottom: 100px;
  }
  .pointSwiper__btn.--left::before {
    bottom: 15px;
  }
  .pointSwiper__btn.--left::after {
    bottom: 20px;
  }
  .pointSwiper__btn.--right::before {
    bottom: 15px;
  }
  .pointSwiper__btn.--right::after {
    bottom: 20px;
  }
  .click-open {
    font-size: 0.875rem;
    margin-bottom: 24px;
  }
  .pagination {
    margin: 80px auto 0;
  }
}
@media (min-width: 992px) {
  .single__site-image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 80px;
    /* pcでのイメージ */
    /* spでのイメージ */
  }
  .single__site-image-wrapper .pc-image-wrapper {
    margin-bottom: 0px;
    width: 70%;
  }
  .single__site-image-wrapper .sp-image-wrapper {
    margin-bottom: 0px;
    width: 28%;
  }
}
/* -------------------------------------------- */
/* profile */
/* -------------------------------------------- */
.prof-sec {
  padding: 50px 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.prof-sec-first {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  padding-bottom: 150px;
  margin-bottom: -140px;
}

.prof-heading {
  color: #E6E5EF;
  position: absolute;
  font-size: calc(2.5rem + (1vw - 3.75px) * 9.697);
  bottom: 0%;
  z-index: -1;
}

.posi-left {
  left: 0;
}

.posi-right {
  right: 0;
}

.profile-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.profile-wrapper-wcid {
  position: relative;
}

/* about me */
.about-body__content-list {
  max-width: 600px;
  width: 100%;
}

.about-body-list li::before {
  content: "・";
}

/* 経歴 */
.career__lists {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
}
.career__list {
  position: relative;
  padding: 0 0 0 1.8em;
}
.career__list::before {
  content: " ";
  width: 2px;
  background: #333;
  display: block;
  position: absolute;
  top: 25px;
  left: 0.7em;
  bottom: 2px;
}
.career__list:last-child::before {
  height: 60%;
}
.career__timeline {
  display: block;
  color: #808080;
}
.career__timeline::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #FFD54D;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.career__content {
  padding: 1.3em 0;
}

/* スキル */
.skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skills-list {
  width: 100%;
  margin-top: 30px;
}
.skills-list__name {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.skills-list__image {
  background: url(../images/wordpress_icon_130782.png) center/cover;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 8px;
}
.skills-list__explain {
  margin-top: 10px;
}

/* できること */
.wicd__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wicd__lists {
  width: 100%;
}
.wicd-item__image-wrapper {
  aspect-ratio: 4/3;
}
.wicd-item__title {
  font-weight: bold;
  font-size: 1.25rem;
}
.wicd-item__text {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .prof-sec {
    padding: 100px 0 150px;
  }
  .prof-sec-first {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    padding-bottom: 340px;
    margin-bottom: -300px;
  }
  .skills-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .skills-list {
    width: 48%;
    margin-top: 40px;
  }
  .skills-list__image {
    width: 50px;
    height: 50px;
  }
  /* できること */
  .wicd-title {
    font-size: 4.375rem;
  }
  .wicd__lists {
    width: 47%;
  }
  .wicd-item__title {
    font-weight: bold;
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  /* できること */
  .wicd-title {
    font-size: 5.625rem;
  }
  .wicd__lists {
    width: 22%;
  }
}
@media (min-width: 1200px) {
  .prof-heading {
    font-size: 7.5rem;
  }
  .posi-left {
    left: -10%;
  }
  .posi-right {
    right: -10%;
  }
}
/* -------------------------------------------- */
/* banners */
/* -------------------------------------------- */
.banners__image-wrapper {
  aspect-ratio: 6/5;
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  margin-bottom: 16px;
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.banners__image-wrapper:hover {
  opacity: 0.8;
}
.banners__item-image {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*モーダル*/
.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

/* 閉じるボタン */
.close {
  background-color: #ddd;
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 1;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.close::before,
.close::after {
  position: absolute;
  content: "";
  border-top: 3px solid #333;
  width: 20px;
  top: 50%;
  left: 50%;
}

.close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-image-wrapper {
  width: 70%;
}

/*モーダルの中の画像*/
.modal-image-wrapper img {
  max-width: 70%;
  max-height: 70%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.1);
}

/* -------------------------------------------- */
/* contact */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */