@charset "UTF-8";
*{
  box-sizing: border-box;
}

@function rem($px){
  @return ($px/16) *1rem;
}

$accentColor: #FFD54D;

.mt-70{
  margin-top: 70px;
}

.thum{
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  overflow: hidden;

  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
  appearance: none;
  -webkit-appearance: none;
	border-radius: 0;

}

body {
  font-family: 'Noto Sans', sans-serif; //JPにするか否か…
  letter-spacing: 0.1em;
  line-height: 1.5;
  font-size: rem(14);
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}


header,main,section,footer, div, ul, li, h1,h2,h3,dl,dt,dd
{
  // background-color: rgba(0,200,100,0.1);
  // border: 1px solid rgba(0,0,0,0.1);
}

.inner{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  // background-color: rgba(241,92,168,0.2);
  padding: 0 20px;
}

.en-title{
  font-family: 'Montserrat', sans-serif;
}

section{
  padding-bottom: 100px;
}

.sec-heading{
  text-transform: uppercase;
  font-size: rem(40);
  line-height: 1; //微調整
  letter-spacing: 0.1em;
  position: relative;
  padding: 60px 20px 0;
  margin-bottom: 50px;

  &::before{
    content: "";
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #C2E9FB, #A1C4FD);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &--left{
    text-align: left;
  }

  &--right{
    text-align: right;
  }
}

.sec-sub-heading{
  font-size: rem(24);
  position: relative;
  border-bottom: 3px solid #333;
  display: inline-block;
  margin-bottom: 40px;

  &::after{
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #ffd54d;
    bottom: -3px;
    width: 30%;
  }
}

.small-title{
  font-size: rem(16);
  letter-spacing: 0.3em;
  line-height: 1;
}

.btn{
  display: block;
  padding: 13px 26px;
  line-height: 1;
  text-align: center;
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 60px;
  background-color: transparent;
  
  &--more{
    font-size: rem(14);
    border: 1px solid #000;
    width: 200px;
    border-radius: 4px;

    &::after{
      content: "";
      display: inline-block;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      transform: rotate(45deg);
      width: 6px;
      height: 6px;
      margin-left: 8px;
    }
  }

  &--pageChange{
    font-weight: bold;
    font-size: rem(16);
    padding: 20px;
    width: 200px;
    border: 2px solid #333333;
    position: relative;

    &::after{
      content:"";
      width: 100%;
      background-color: $accentColor;
      position: absolute;
      z-index: -1;
      height: 100%;
      top: 8px;
      left: 8px;
      display: block;
    }
  }
}

/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header{
  height: 70px;

  &__wrapper{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo{
    font-size: rem(18);
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.1em;
  }
}

.burger{
  font-size: rem(30);
}


/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
.mv{
  background-color: #000;
}

.site-title{
  color: #fff;
  letter-spacing: 0.15em;
  padding: 60px 0;
}

.color--yellow{
  color: $accentColor;
}

/* -------------------------------------------- */
/* works */
/* -------------------------------------------- */
.works{
  text-align: center;

  &__item-wrapper{
    margin-top: 40px;
    position: relative;
  }
  
  &__item-list{
    border: 1px solid #DEDEDE;
    border-radius: 4px;
  }

  &__item{
    text-align: left;
    padding-bottom: 30px;
  }

  &__item-title{
    font-size: rem(18);
    padding: 20px;
  }

  &__item-img{
    
  }

  &__item-content{
    padding: 20px;
    line-height: 1.6;
  }

  &__item-btn{
    margin-top: 40px;
  }
}

.aaa{
 
}

.bbb{
  background-color: #ccc;
  padding: 30px 0 50px;
}

.slideBtn{
  width: 25px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &--left{ 
    left: -12px;
    border-radius: 8px 0 0 8px;

    &::after{
      content: "";
      display: inline-block;
      border-top: 2px solid #000;
      border-left: 2px solid #000;
      transform: rotate(-45deg);
      width: 6px;
      height: 6px;
      margin-top: 15px;

    }
  }

  &--right{
    right: -12px;
    border-radius: 0 8px 8px 0;

    &::after{
      content: "";
      display: inline-block;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      transform: rotate(45deg);
      width: 6px;
      height: 6px;
      margin-top: 15px;
    }
  }

}

.practice{

  &__wrapper{
    margin-top: 80px;
  }
  
  &__list{
    padding: 30px 20px 50px;
    position: relative;

    &--odd{
      background-color: #EFEFEF;
    }
    &--even{
      background-color: #DFDFDF;
    }
  }


  &__title{
    font-size: rem(20);
    font-weight: bold;
  }

  &__explain{
    margin-top: 10px;
  }

  &__image{
    margin-top: 40px;
  }

}

.fa-solid{
  margin-left: 8px;
}




/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer{
  height: 70px;
  background-color: #7B7A7A;
  font-size: rem(12);

  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__copy{
    color: #fff;
  }
}


/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */




/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */



/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */



/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 600px) {


}
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1025px) {


  
}
